@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import "edit-card";
@import "add-keg";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-image: url("../img/wood.jpg");
  background-size: cover;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 200px;
  color: white;
  // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-shadow: 4px 4px 50px black;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  margin-bottom: 40px;
  width: 1200px;
  border-radius: 5px;
}

.card-top {
  width: 100%;
  display: flex;
  align-items: center;
  height: 70%;
  background-color: rgba(0,0,0,0.7);
  // border-top-left-radius: 5px;
  // border-top-right-radius: 5px;
  border-radius: 5px;
  border: 2px solid #bcbaba;
  h3 {
    font-size: 50px;
    color: #bcbaba;
    text-shadow: 1px 1px 0 #000;
  }
  * {
    width: 33.333%;
    text-align: center;
  }
  p {
    color: white;
    font-size: 30px;
  }
  .img {
    width: 0px;
    position: relative;
    img {
      width: 25px;
      height: 25px;
      filter: invert(1);
      // align-self: flex-start;
      position: absolute;
      top: -45px;
      right: 5;
      margin: 5px;
      &:hover {
        cursor: pointer;
        width: 35px;
        height: 35px;
      }
    }
  }
}

.card-bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom, #404040, #303030, #303030, #303030, #303030, #404040);
  color: #bcbaba;
  height: 30%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid black;
  border-top: 0;
}

.card-bottom-left {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

#pints {
  font-size: 20px;
}

.buttons {
  background-color: blue;
  position: relative;
  margin-right: 50px;
  img {
    position: absolute;
    top: -25px;
    width: 50px;
    height: 50px;
    filter: invert(1);
    transition: transform 1s;
    &:hover {
      cursor: pointer;
      transform: scale(1.5);
      &:active {
        transform: scale(1);
      }
    }

    &:nth-child(1) {
      left: 50px;
    }
    &:nth-child(2) {
      left: 150px;
    }
    &:nth-child(3) {
      left: 250px;
    }
  }
}

#addKegButton {
  padding: 15px;
  background-color: rgba(0,0,0,0.7);
  text-transform: uppercase;
  color: white;
}

select {
  margin-bottom: 15px;
  margin-left: 87%;
  background-color: rgba(0,0,0,.8);
  border: 1px solid #bcbaba;
  color: #bcbaba;
  width: 150px;
  height: 35px;
  font-size: 14px;
}
