<h1>Beerstorr</h1>
<div *ngFor="let currentKeg of kegs">
  <h3>{{currentKeg.name}}</h3>
  <p>Type: {{currentKeg.type}}</p>
  <p>Price: {{currentKeg.price}}</p>
  <p>Alcohol Content: {{currentKeg.alcoholContent}}</p>
  <p>Pints: {{currentKeg.pints}}</p>
  <button (click)="sellBooze(currentKeg.pints)">Sell</button>
  <!-- <button (click)="editKeg(currentKeg)">Edit</button> -->
</div>
<button (click)="addNewKegForm(clickedKeg)">Add Keg</button>
<div *ngIf="showKegForm">
  <p>New Keg</p>
  <form>
    <input type="text" [(ngModel)]="name" name="name" placeholder="name">
    <input type="text" [(ngModel)]="type" name="type" placeholder="type">
    <input type="number" [(ngModel)]="price" name="price" placeholder="price">
    <input type="number" [(ngModel)]="alcoholContent" name="alcoholContent" placeholder="alcoholContent">
    <button (click)="addKeg(); clearInput()">Add Keg</button>
  </form>
</div>
