
<select (change)="onChange($event.target.value)">
  <option value="lowToHigh" selected="selected">Prices Low to High</option>
  <option value="highToLow">Price High to Low</option>
  <option value="abvHighToLow">ABV High to Low</option>
  <option value="abvLowToHigh">ABV Low to High</option>
</select>
<div class="card" *ngFor="let currentKeg of childBeerList | completeness:filterByCompleteness">
  <div class="card-top">
    <p>${{currentKeg.price}}</p>
    <h3>{{currentKeg.name}}</h3>
    <div class="buttons">
      <img src="../resources/img/pint.png" (click)="currentKeg.sellPint()">
      <img src="../resources/img/growlette.png"  (click)="currentKeg.sellGrowler()">
      <img src="../resources/img/growler.png" (click)="currentKeg.sellLarge()">
    </div>
    <div class="img">
      <img src="../resources/img/pencil.png" (click)="editButtonHasBeenClicked(currentKeg)">
    </div>
  </div>
  <div class="card-bottom">
    <div class="card-bottom-left">
      <p>ABV: {{currentKeg.alcoholContent}}%</p>
      <!-- <p [class]="abvColor(currentKeg.alcoholContent)">ABV: {{currentKeg.alcoholContent}}%</p> -->

      <p>Type: {{currentKeg.type}}</p>
    </div>
    <p id="pints">Pints: {{currentKeg.pints}}</p>

  </div>
</div>
