<div id="edit-card" *ngIf="childSelectedKeg">
  <div class="edit-card">
    <label>{{childSelectedKeg.name}}</label>
    <input [(ngModel)]="childSelectedKeg.name">
    <label>Change Type: {{childSelectedKeg.type}}</label>
    <input [(ngModel)]="childSelectedKeg.type">
    <label>Change Price: {{childSelectedKeg.price}}</label>
    <input [(ngModel)]="childSelectedKeg.price">
    <label>Change ABV: {{childSelectedKeg.alcoholContent}}</label>
    <input [(ngModel)]="childSelectedKeg.alcoholContent">
    <p (click)="closeButtonClicked()">Keep Changes</p>
  </div>
</div>
