<div id="add-keg"*ngIf="childShowKegForm">
  <div class="add-keg">
    <label>New Keg</label>
    <form>
      <input type="text" #newName placeholder="Name">
      <input type="text" #newType placeholder="Type">
      <input type="number" #newPrice placeholder="Price">
      <input type="number" #newAlcoholContent placeholder="ABV">
      <p (click)="submitForm(newName.value, newType.value, newPrice.value, newAlcoholContent.value)" (click)="exitNewKegFormClicked()">Submit Keg</p>
      <p (click)="exitNewKegFormClicked()">Close</p>
    </form>
  </div>
</div>

<!-- <div *ngIf="showKegForm">
  <p>New Keg</p>
  <form>
    <input type="text" [(ngModel)]="name" name="name" placeholder="name">
    <input type="text" [(ngModel)]="type" name="type" placeholder="type">
    <input type="number" [(ngModel)]="price" name="price" placeholder="price">
    <input type="number" [(ngModel)]="alcoholContent" name="alcoholContent" placeholder="alcoholContent">
    <button (click)="addKeg(); clearInput(); nullKegForm()">Add Keg</button>
    <button (click)="nullKegForm()">Close</button>
  </form>
</div> -->
